{erl_opts, [debug_info]}.

{deps, []}.

{plugins, [pc]}.

{pre_hooks, [ {compile, "git submodule update --init"}
            , {"(linux|darwin)", compile, "make -j -C \"c_src/mcl\""}
            , {"win32", compile, "make -f Makefile.win32 -j win32_mcl"}
            ]}.

{post_hooks, [ {"(linux|darwin)", clean, "make -C \"c_src/mcl\" clean"}
             , {"win32", clean, "make -f Makefile.win32 clean_win32_mcl"}
             ]}.

{provider_hooks, [
    {post, [ {compile, {pc, compile}}
           , {clean,   {pc, clean}}
           ]}
    ]}.

{port_specs, [{"priv/emcl_nif.so", ["c_src/*.c"]}]}.

{port_env, [ {"darwin", "CFLAGS", "$CFLAGS -fPIC -O3 -std=c99 -arch x86_64 -finline-functions -Wall -Wmissing-prototypes -I c_src/mcl/include"}
           , {"darwin", "CXXFLAGS", "$CXXFLAGS -fPIC -O3 -arch x86_64 -finline-functions -Wall"}
           , {"darwin", "LDFLAGS", "$LDFLAGS -arch x86_64 c_src/mcl/lib/libmclbn384_256.a c_src/mcl/lib/libmcl.a -lgmp"}

           , {"linux", "CFLAGS", "$CFLAGS -fPIC -O3 -std=c99 -finline-functions -Wall -Wmissing-prototypes -I c_src/mcl/include"}
           , {"linux", "CXXFLAGS", "$CXXFLAGS -fPIC -O3 -finline-functions -Wall"}
           , {"linux", "LDFLAGS", "$LDFLAGS c_src/mcl/lib/libmclbn384_256.a c_src/mcl/lib/libmcl.a -lgmp -lstdc++"}

           , {"win32", "CFLAGS", "$CFLAGS /LD /MD /Fe /Ox /DNDEBUG /DMCLBN_DONT_EXPORT /Ic_src/mcl/include"}
           , {"win32", "LDFLAGS", "$LDFLAGS /LIBPATH:c_src/cybozulib_ext/lib c_src/mcl/lib/mclbn384_256.lib c_src/mcl/lib/mcl.lib"}
]}.
